# Logs
logs
*.log

# Env files
.env

# Dependency directories
node_modules

# Build directories
dist
*.tsbuildinfo

# Yarn ignores without using Zero-Installs. See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# eslint stuff
.eslintcache
